@media screen and (max-width: 600px){
    body{
        align-items: flex-start;
        margin: 0;
        background-color: var(--white);
    }
    
    .container{
        flex-direction: column;
        width: 100%;
        max-width: none;
        gap: 5px;
    }

    .result{
        border-radius: 0 0 25px 25px;
        text-align: center;
        width: 100%;
    }

    .summary{
        border-radius: 0;
        gap: 20px;
    }
}